*{
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  
}
.main{
  background-color: white;
  padding: 5%;
  width: 100%;
  height: 100%;
}
.header > img{
  width: 100%;
  height: 50vh;
}


.body{
  margin-top: 50px;
}
.CardGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movie-card{
  height: 100%;
  width: 100%;
}

.featured{
  text-align: start;
  margin-left: 3%;
  margin-bottom: 3%;
}

.movie-card{
  width: 25%;
  margin-bottom: 20px; 
  padding: 10px;

}
.title {
  text-decoration: none; /* Remove underlines */
  color: black; /* Change link color to your preferred color */
}
.date {
  text-decoration: none; /* Remove underlines */
  color: #333; 
  margin-bottom:100px;/* Change link color to your preferred color */
}
.link {
  color: inherit;
  text-decoration: none; /* Make the link text inherit the parent's color */
  /* Or specify your desired text color */
  /* color: #333; */
}

@media (max-width: 1280px) {
  .header > img{
    width: 100%;
    height: 30vh;
  }
  .movie-card{
    width: 30%;
    margin-bottom: 10px; 
    padding: 5px;
  
  }
  .movieSearch{
    
  }
  .title {
    text-decoration: none; /* Remove underlines */
    color: black; /* Change link color to your preferred color */
  }
  .date {
    text-decoration: none; /* Remove underlines */
    color: #333; 
    margin-bottom:100px;/* Change link color to your preferred color */
  }
  .link {
    color: inherit;
    text-decoration: none; /* Make the link text inherit the parent's color */
    /* Or specify your desired text color */
    /* color: #333; */
  }

}